<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fizzler" version="1.2.0" targetFramework="net461" />
  <package id="Leadtools.Annotations" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Barcode" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Document" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Document.Sdk" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Formats.Document" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Formats.Raster.Common" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Formats.Vector" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Forms" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Image.Processing" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Kernel" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Ocr" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Ocr.Languages.Main" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="20.0.0.8" targetFramework="net461" />
  <package id="Leadtools.Pdf" version="20.0.0.8" targetFramework="net461" />
  <package id="Svg" version="3.0.102" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>